header {
  text-align: center;
}

main {
  margin: 30px;
}

img {
  height: 100px;
}

/* Task 1 */
h3 {
  color: blue;
}

/* Task 2 */
.red {
  color: red;
}

/* Task 3 */
img + img {
  border: 3px solid blue;
}

/* Task 4 */
a[href*=".com"] {
  background-color: yellow;
}

/* Task 5 */
#item {
  color: hotpink;
}